@font-face {
  font-family: "plain light";
  src: url(./plain-light-webfont.ttf);
}
@font-face {
  font-family: "silk serif";
  src: url(./silkserif-lightitalic-webfont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: " plain light";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: bisque; */
}

#main {
  position: relative;
  background-color: #111;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 20vh 10vw;
}

.line {
  gap: 3vw;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#line1-part1 {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 2vw;
  font-family: "silk serif";
  font-weight: 100;
  /* font-style: italic; */
}
#line1-part1 h5 {
  width: 3vw;
  text-align: right;
}
.line h1 {
  font-size: 8rem;
  font-weight: 500;
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
}
.line h2 {
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  animation-name: anime;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* margin-bottom: 1rem; */
}

@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px white;
    color: white;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "plain light";
    -webkit-text-stroke: 1px white;
    color: white;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "plain light";
    -webkit-text-stroke: 1px white;
    color: white;
    font-weight: 500;
    opacity: 1;
  }

  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}
#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #151515;
}
